body{
	background-image: url("bg7.jpeg");
	 background-repeat: no-repeat;
  background-size: 100% 200%;
	 height: 200px;
  width: 50%;
  color:#1C2833;
font-size:20px
style="font-family:Franklin Gothic Medium"
}