body{
	background-image: url("bg3.jpg");
	 background-repeat: no-repeat;
  background-size: 100% 200%;
	 height: 200px;
  width: 50%;
  color:#F7F1EF;
font-size:20px
style="font-family:Franklin Gothic Medium"
}